{{~it.request.getResult() :val:i}}
<img src="{{!it.google[i].getResult().responseData.results[0].unescapedUrl}}" style="height: 16em; width: auto;"/> 
<hr>
<table>
	<tr><td>Brand name
    </td> 
    <td>{{=val.model_make_id}}
    </td> 
    </tr>
	<tr><td>Model name
    </td>
    <td>{{=val.model_name}}
    </td>
    </tr>
	<tr><td>Doors</td>
    <td>{{=val.model_doors}}</td> </tr>
	<tr><td>Year</td> 
    <td>{{=val.model_year}}</td> </tr>
	<tr><td>Body Style </td>
    <td>{{=val.model_body}}</td> </tr>
	<tr><td>EngineLocation</td>
    <td>{{=val.model_engine_position}}</td> </tr>
	<tr><td>Engine Displacement </td> 
    <td>{{=val.model_engine_cc}}</td> </tr>
	<tr><td>Engine Cylinders</td>
    <td>{{=val.model_engine_cyl}}</td> </tr>
	<tr><td>Engine Type</td>
    <td>{{=val.model_engine_type}}</td> </tr>
	<tr><td>Engine Valves Per Cylinde</td>
    <td>{{=val.model_engine_valves_per_cyl}}</td> </tr>
	<tr><td>Engine Max Power PS</td>
    <td>{{=val.model_engine_power_ps}}</td> </tr>
    <tr><td>Engine Max Power RPM</td> 
    <td>{{=val.model_engine_power_rpm}}</td> </tr>
	<tr><td>Engine Max Torque NM</td>
    <td>{{=val.model_engine_torque_nm}}</td> </tr>
	<tr><td>Engine Max Torque RPM</td>
    <td>{{=val.model_engine_torque_rpm}}</td> </tr>
	<tr><td>Engine Bore (mm)</td> 
    <td>{{=val.model_engine_bore_mm}}</td> </tr>
    <tr><td>Engine Stroke (mm)</td>
    <td>{{=val.model_engine_stroke_mm}}</td> </tr>
	<tr><td>Engine Compression Ratio</td>
    <td>{{=val.model_engine_compression}}</td> </tr>
	<tr><td>Engine Fuel Type</td>
    <td>{{=val.model_engine_fuel}}</td> </tr>
	<tr><td>Top Speed (KPH)</td> 
    <td>{{=val.model_top_speed_kph}}</td> </tr>
	<tr><td>0-100 kph (0-62mph)</td> 
    <td>{{=val.model_0_to_100_kph}}</td> </tr>
    <tr><td>Drive</td>
    <td>{{=val.model_drive}}</td> </tr>
	<tr><td>Transmission Type</td>
    <td>{{=val.model_transmission_type}}</td> </tr>
	<tr><td>Seats</td>
    <td>{{=val.model_seats}}</td> </tr>
	<tr><td>Doors</td> 
    <td>{{=val.model_doors}}</td> </tr>
	<tr><td>Weight (kg)</td> 
    <td>{{=val.model_weight_kg}}</td> </tr>
	<tr><td>Length (mm)</td>
    <td>{{=val.model_length_mm}}</td> </tr>
	<tr><td>Width (mm)</td>
    <td>{{=val.model_width_mm}}</td> </tr>
	<tr><td>Height (mm)</td>
    <td>{{=val.model_height_mm}}</td> </tr>
	<tr><td>Wheelbase (mm)</td> 
    <td>{{=val.model_wheelbase_mm}}</td> </tr>
	<tr><td>Fuel Economy HWY(l/100km)</td>
    <td>{{=val.model_lkm_hwy}}</td> </tr>
	<tr><td>Fuel Economy Mixed(l/100km)</td>
    <td>{{=val.model_lkm_mixed}}</td> </tr>
	<tr><td>Fuel Economy City(l/100km)</td>
    <td>{{=val.model_lkm_city}}</td> </tr>
	<tr><td>Fuel Capacity(l)</td> 
    <td>{{=val.model_fuel_cap_l}}</td> </tr>
	<tr><td>Sold in US</td>
    <td>{{=val.model_sold_in_us}}</td> </tr>
	<tr><td>Brand</td>
    <td>{{=val.make_display}}</td> </tr>
	<tr><td>Country Location</td>
    <td>{{=val.make_country}}</td> </tr>
	<tr><td>Car Type</td>
    <td>{{=val.model_trim}}</td> </tr>
	</table>
{{~}}